# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mateusz Adamek
	email = m.adamek@oberthur.com
[push]
	default = simple
[pull]
	default = rebase
